.chatPage {
  display: flex;
  height: 100vh;
  background: linear-gradient(to top, var(--subGrey), var(--mainGrey));
}

@media (max-width: 767px) {
  .dialogMenu {
    position: fixed;
    height: 100%;
    left: -100%;
  }
  .dialogMenu.active {
    flex-basis: 20%;
  }


  .dialogMenu {
    &__burger {
      display: block;
      position: fixed;
      width: 30px;
      height: 20px;
      z-index: 5;
      top: 40px;
      left: 11px;

      &__span {
        position: absolute;
        background-color: var(--subBlue);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
    }

    &__burger:before, &__burger:after {
      content: "";
      background-color: var(--subBlue);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &__burger__span.active {
      transform: scale(0);
    }

    &__burger.active:before {
      background-color: var(--white);
      transform: rotate(45deg);
      top: 9px;
    }

    &__burger.active:after {
      background-color: var(--white);
      transform: rotate(-45deg);
      bottom: 9px;
    }

    &__burger:before {
      top: 0;
    }

    &__burger:after {
      bottom: 0;
    }
  }
}
