.authHeader {
  &__title {
    display: block;
    font-size: 30px;
    color: var(--mainBlue);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
  }
  &__desc {
    font-size: 18px;
  }
  margin-bottom: 10px;
}
