.dialogsItem {
  background-color: var(--subGrey);
  height: 150px;
  min-width: 700px;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.dialogsItem:hover {
  background-color: #b3b2b2;
}

.dialogInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  justify-content: space-between;

  &__link {
    display: flex;
    justify-content: space-between;
    height: inherit;
    width: inherit;
    padding: 15px 20px;
    text-decoration: none;
  }

  &__userAvatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }
  &__userName {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
  }

  &__rating {
    display: flex;

    &__star {
      color: #ffe507;
    }
  }

  &__textContainer {
    min-width: 400px;
    max-width: 100%;
    width: 100%;
    //overflow-y: scroll;
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
  }

  &__continue {
    font-size: 22px;
    font-weight: 600;

    &__link {
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 20px;

    &__tooltip {
      background-color: var(--grey);
      color: var(--white);
      padding: 2px 5px;
      border-radius: 4px;
      position: absolute;
      top: 1px;
      right: 20px ;
    }

    &__button {
      padding: 5px;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
    }


    &__save {
      color: var(--mainBlue);


    }
    &__delete {
      color: var(--subBlue);
      //color: #ff5600;
      //font-weight: 600;
      //font-size: 22px;
    }
    &__delete:hover {
      opacity: 0.5;
    }
    &__date {
      font-size: 20px;
      color: var(--black);
    }
  }
}
