.messageInput {
  display: flex;
  position: relative;
  min-height: 80px;
  max-height: 150px;
  padding: 20px 100px 20px 30px;
  align-items: center;
  background-color: var(--subGrey);

  &__input {
    display: block;
    width: 100%;
    min-width: 250px;
    min-height: 40px;
    max-height: 100px;
    margin-right: 20px;
    resize: none;
    word-wrap: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    outline: none;
    border: none;
    background-color: inherit;
    padding: 0.5em;
    line-height: 17px;

    font-size: 18px;
  }
}

.messageNav {
  display: flex;

  &__smiles {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    //background-color: #61e566;
    margin-right: 20px;

    &__img {
      background: url("data:image/svg+xml,%3Csvg id='Layer_1' fill='%239d9d9d' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m256 512c-68.38 0-132.667-26.629-181.02-74.98-48.351-48.353-74.98-112.64-74.98-181.02s26.629-132.667 74.98-181.02c48.353-48.351 112.64-74.98 181.02-74.98s132.667 26.629 181.02 74.98c48.351 48.353 74.98 112.64 74.98 181.02s-26.629 132.667-74.98 181.02c-48.353 48.351-112.64 74.98-181.02 74.98zm0-472c-119.103 0-216 96.897-216 216s96.897 216 216 216 216-96.897 216-216-96.897-216-216-216zm93.737 260.188c-9.319-5.931-21.681-3.184-27.61 6.136-.247.387-25.137 38.737-67.127 38.737s-66.88-38.35-67.127-38.737c-5.93-9.319-18.291-12.066-27.61-6.136s-12.066 18.292-6.136 27.61c1.488 2.338 37.172 57.263 100.873 57.263s99.385-54.924 100.873-57.263c5.93-9.319 3.183-21.68-6.136-27.61zm-181.737-135.188c13.807 0 25 11.193 25 25s-11.193 25-25 25-25-11.193-25-25 11.193-25 25-25zm150 25c0 13.807 11.193 25 25 25s25-11.193 25-25-11.193-25-25-25-25 11.193-25 25z'/%3E%3C/svg%3E%0A") center no-repeat;
      background-size: 24px 24px;
      height: 100%;
      width: 100%;
    }
  }

  &__smiles:hover {
    background-color: var(--mainGrey);
  }

  &__attach {
    width: 40px;
    height: 40px;
    //background-color: #adadad;
    border-radius: 50%;
    margin-right: 20px;

    &__img {
      background: url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cg%3E%3Cpath d='m126.585 512c-27.384 0-54.767-10.424-75.614-31.27-20.198-20.198-31.321-47.052-31.321-75.614 0-28.563 11.123-55.417 31.321-75.615l306.329-306.329c14.942-14.943 34.808-23.172 55.94-23.172 21.131 0 40.998 8.229 55.94 23.172 14.942 14.942 23.171 34.808 23.171 55.94 0 21.131-8.229 40.998-23.171 55.94l-264.741 264.74c-19.997 19.996-52.533 19.996-72.531 0-19.997-19.997-19.997-52.533 0-72.531l186.24-186.24c5.478-5.478 14.361-5.478 19.84 0s5.479 14.361 0 19.84l-186.241 186.239c-9.057 9.058-9.057 23.794 0 32.852 9.058 9.058 23.794 9.058 32.852 0l264.741-264.74c9.643-9.643 14.953-22.464 14.953-36.1 0-13.637-5.31-26.458-14.953-36.1-19.906-19.906-52.295-19.906-72.201 0l-306.329 306.328c-14.898 14.898-23.103 34.706-23.103 55.775 0 21.07 8.205 40.877 23.103 55.775 30.755 30.754 80.796 30.753 111.549.001l228.446-228.447c5.478-5.478 14.361-5.478 19.84 0s5.479 14.361 0 19.84l-228.446 228.446c-20.847 20.846-48.231 31.27-75.614 31.27z' fill='%239d9d9d'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m430.645 252.283c5.479-5.478 5.479-14.362 0-19.84-5.478-5.478-14.361-5.478-19.84 0l-228.445 228.447c-18.731 18.731-44.614 26.031-68.94 21.944-4.959.695-9.956 1.046-14.955 1.046-21.091 0-42.178-6.19-60.282-18.557 3.738 5.463 8.005 10.623 12.787 15.406 20.848 20.847 48.231 31.271 75.614 31.271 27.384 0 54.768-10.424 75.615-31.27z' fill='%239d9d9d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat;
      background-size: 24px 24px;
      height: 100%;
      width: 100%;
    }
  }

  &__attach:hover {
    background-color: var(--mainGrey);
  }

  &__send {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--mainBlue);
    cursor: pointer;
    border: 0;
    display: flex;

    &__img {
      height: 100%;
      width: 100%;
      background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='white' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M507.608,4.395c-4.243-4.244-10.609-5.549-16.177-3.321L9.43,193.872c-5.515,2.206-9.208,7.458-9.42,13.395 c-0.211,5.936,3.101,11.437,8.445,14.029l190.068,92.181l92.182,190.068c2.514,5.184,7.764,8.455,13.493,8.455 c0.178,0,0.357-0.003,0.536-0.01c5.935-0.211,11.189-3.904,13.394-9.419l192.8-481.998 C513.156,15.001,511.851,8.638,507.608,4.395z M52.094,209.118L434.72,56.069L206.691,284.096L52.094,209.118z M302.883,459.907 l-74.979-154.599l228.03-228.027L302.883,459.907z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center no-repeat;
      background-size: 24px 24px;
    }
  }

  &__send:hover {
    opacity: 0.5;
  }

}
