.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 80px;
  height: 100%;

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 40px;
  }

  &__header {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}

.input {
  height: 30px;
  max-width: 500px;
  padding: 2px 5px;
  font-size: 22px;
  outline: none;
}

.settingsName {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &__label {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__input {

  }
}

.settingsAvatar {

  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &__label {
    font-size: 22px;
    margin-right: 20px;
  }

  &__imgContainer {
    height: 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__img {
    max-height: 150px;
    max-width: 300px;

    background-repeat: no-repeat;
    background-size: auto;
  }

  &__input {

  }

}

.settingsPassword {
  display: flex;
  flex-direction: column;

  &__input {

  }
}

.submitContainer {
  display: flex;
  justify-content: center;

  &__button {
    padding: 10px 15px;
    border-radius: 4px;
    background-color: var(--mainBlue);
    border: none;
    color: var(--mainGrey);
    font-size: 24px;

  }
  &__button:hover {
    background-color: var(--subBlue);
  }
}
