.authInput {
  position: relative;

  width: 100%;
  border-bottom: 2px solid #adadad;
  margin-bottom: 5px;
  &__input {
    outline: none;
    border: none;
    overflow: visible;

    font-size: 15px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px;
  }
}
