.dialogMenu {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  //margin-left: -30px;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  background-color: var(--mainBlue);

  &__burger {
    display: none;
  }
}

@media (max-width: 767px) {
  .dialogMenu {
    position: fixed;
    height: 100%;
    left: -100%;
    flex-basis: 0;
    z-index: 2;
  }
  .dialogMenu.active {
    left: 0;
    flex-basis: 20%;
  }

}

.dialogs {
  &__list {

  }
}







