*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}
ul > li {
  text-decoration: none;
  list-style: none;
}

:root {
  --mainBlue: rgb(0, 122, 255);
  --subBlue: rgb(53, 150, 255);
  --mainGrey: rgb(247, 249, 250);
  --subGrey: rgb(235, 235, 235);
  --white: rgb(255, 255, 255);
  --greyFont: rgb(157, 157, 157);
  --black: rgb(0, 0, 0);
  --grey: rgb(32,32,32);
}



