.dialogHeader {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 25px 45px;
  align-items: center;


  &__title {
    //display: block;
    font-size: 30px;
    color: var(--white);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;

  }

  &__menu {
    height: 35px;
    width: 35px;

    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: 30px;
    transition: ease-in-out 0.5s;
  }

  &__menu:hover {
    cursor: pointer;
    background-color: var(--white);

    .dialogHeader__item {
      color: var(--black);
    }
  }


  &__item {
    color: var(--white);
  }

  &__tooltip {
    background-color: var(--grey);
    color: var(--white);
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    left: 10px;
    top: -12px;
  }

}
