.dialogItem {
  width: 100%;
  height: 80px;
  //padding: 8px 8px 8px 0px;
  display: flex;
  align-items: center;
  min-width: 0;

  &__link {
    display: flex;
    padding: 25px 20px;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;

    &__active {
      background-color: var(--subBlue);
    }
  }
}

.dialogItem:hover {
  background-color: var(--subBlue);
}

.img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.indicator {
  &__text {
    font-size: 12px;
  }
}

.dialogInfo {
  display: flex;
  flex: 1;
  min-width: 0;
  margin-left: 12px;
  flex-direction: column;
  &__name {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
    font-size: 24px;
    width: 230px;
    color: var(--white);
  }
  //&__container {
  //  display: flex;
  //  align-items: center;
  //  width: 230px;
  //}
  //&__message {
  //  overflow-x: hidden;
  //  white-space: nowrap;
  //  text-overflow: ellipsis;
  //  font-size: 14px;
  //  color: var(--white);
  //}
  &__indicator {
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    padding: 0 6px;
    background-color: var(--white);
    text-overflow: ellipsis;
  }
}
