.messageMenu {
  background-color: var(--mainGrey);
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .messageMenu {
    flex-basis: 100%;
    height: 100vh;
  }
}



.messagePlug {
  display: flex;
  justify-content: center;
  margin-top: 150px;

  &__text {
    font-size: 42px;
  }
}
