.registrationForm {
  width: 100%;
}

.error_container {
  height: 40px;
  text-decoration: none;
  color: #ff5600;
}

.registrationInput {
  &__error {
    font-size: 14px;
    color: #ff5600;
    width: 100%;
    display: block;
  }
}
