.forgotPasswordForm {

}

.error_container {
  min-height: 40px;
  text-decoration: none;
  color: #ff5600;
}

.success_container {
  color: #61e566;
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  &__link {
    text-decoration: none;
    color: var(--mainBlue);
  }
  &__link:hover {
    opacity: 0.4;
  }
}
