.messageItem {
  background-color: var(--subGrey);
  height: 100px;
  min-width: 700px;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 20px;


  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__imgContainer {

  }
  &__img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

  &__userName {

  }

  &__message {
    padding: 15px 0;
    height: 100%;
    width: 100%;
  }
}


