.loginForm {
  width: 100%;

  &__field {
    width: 100%;
    position: relative;

    border-bottom: 2px solid #adadad;
    margin-bottom: 5px;
  }
}

.loginInput {
  &__error {
    font-size: 14px;
    color: #ff5600;
    width: 100%;
    display: block;
  }

  &__succesReg {
    font-size: 14px;
    color: #61e566;
    width: 100%;
    display: block;
  }

  &__forgot {
    font-size: 14px;
    float: right;
    color: var(--mainBlue);
    cursor: pointer;
    text-decoration: none;
  }

  &__forgot:hover {
    opacity: 0.3;
  }
}

.error_container {
  min-height: 40px;
  text-decoration: none;
  color: #ff5600;
}


