.dialogs {
  padding: 40px 60px;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.search {
  display: flex;
  //justify-content: center;
  margin-bottom: 40px;
  align-items: center;
  flex-direction: column;


  &__wrapper {
    position: relative;
  }

  &__input {
    height: 40px;
    width: 350px;
    padding: 3px 35px 3px 10px;

    outline: none;

    border-radius: 5px;
    border: 2px solid var(--subGrey);
    font-size: 24px;
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 3px;
    margin-top: -15px;
    font-size: 30px;
    color: var(--subBlue);
  }
}

.dialogsList {
  height: 700px;
  width: 100%;
  background-color: inherit;
  overflow-y: scroll;
}


