.messageItem {
  display: flex;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  &__date {
    //margin-right: 20px;
  }
}

.messageContainer {
  background-color: var(--subGrey);
  padding: 10px 20px;
  border-radius: 10px 10px 10px 0;
  max-width: 350px;
  word-wrap: break-word;
  height: fit-content;
  margin-bottom: 40px;
}

.message {

}
