.authWrapper {
  background-color: var(--mainGrey);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.authContainer {
  width: 400px;
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
}
