.submitButton {
  outline: none !important;
  border: none;
  background: 0 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background: -webkit-linear-gradient(right, var(--subBlue), var(--mainBlue));

  border-radius: 25px;

  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  transition: opacity 0.3s ease-in-out;

  &__loading {
    pointer-events: none;
    cursor: not-allowed;
    //opacity: 0.2;
    background: -webkit-linear-gradient(right, var(--subGrey), var(--subGrey));
  }
}

.submitButton:hover {
  opacity: 0.7;
}
